$background: var(--background);

.page-404 {
  padding-top: 20%;
  align-items: center;
  height: 1080px;
  background-color: $background;
}

.page-404__span {
  display: block;
  text-align: center;
  font-size: 30px;
  color: var(--text-over-primary);
  font-family: var(--main-font-family);
}
