$background-shadow-50: var(--background-shadow-50);
$primary: var(--primary);
$primary-shadow-25: var(--primary-shadow-25);
$secondary: var(--secondary);
$accent: var(--accent);

$text-over-primary: var(--text-over-primary);
$text-over-primary-shadow-50: var(--text-over-primary-shadow-50);
$text-over-secondary: var(--text-over-secondary);

$avatar-size: 50px;
$messages-container-width: 700px;

@mixin font-settings($font-family, $font-weight, $font-size, $color) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
}

.message {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  &__body {
    max-width: 500px;
    background: $secondary;

    border-radius: 10px;

    box-sizing: border-box;
    position: relative;
    padding: 6px 12px 3px 12px;

    &__username {
      @include font-settings("Inter", 400, 14px, $secondary);

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      display: none;
    }
    &__text {
      @include font-settings("Inter", 400, 16px, $text-over-secondary);

      display: inline;
      word-wrap: break-word;
    }
    &__meta {
      height: 20px;
      display: flex;
      align-items: flex-end;
      float: right;
      column-gap: 1px;
      margin-left: 4px;
      .timedate {
        @include font-settings("Inter", 400, 10px, $text-over-secondary);
        opacity: 0.6;
      }
    }
  }
  &__avatar {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: flex-end;

    padding: 0px 5px;

    &__img {
      width: 40px;
      height: 40px;
      border-radius: 100%;

      display: none;
    }
  }

  &:not(.left-side) {
    .message__body {
      margin-right: 20px;
    }
  }

  &:not(.left-side).last-message {
    .message__body {
      border-bottom-right-radius: 0px;

      &::after {
        content: "";
        position: absolute;
        right: -12px;
        bottom: 0px;
        border: 7px solid transparent;
        border-bottom: 7px solid $secondary;
        border-left: 7px solid $secondary;
      }
    }
  }

  &.left-side {
    flex-direction: row-reverse;

    .message__body {
      background: $primary-shadow-25;
    }

    &.first-message {
      .message__body__username {
        display: block;
      }
    }

    &.last-message {
      .message__body {
        border-bottom-left-radius: 0px;

        &::before {
          content: "";
          position: absolute;
          left: -12px;
          bottom: 0px;
          border: 7px solid transparent;
          border-bottom: 7px solid $primary-shadow-25;
          border-right: 7px solid $primary-shadow-25;
        }
      }
      .message__avatar__img {
        display: block;
      }
    }
  }
}
