@import url('https://fonts.googleapis.com/css?family=Inter:wght@300;400;500&display=swap');
@import "../../../../widgets/ChatList/ui/ChatList.css";

body {
  margin: 0 0 0 0;
}

:root {
  --background: #090707;
  --primary: #101723;

  --text-over-primary: #FFFFFF;
}

a{
  text-decoration: none;
}

p{
  color: var(--text-over-primary);
  font-family: "Inter";
  line-height: 21px;
  font-weight: 400;
  font-size: 16px;
}



.main-container{
  background: var(--primary);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
}

.sidebar-container{
  background: var(--background);
  flex: 93 0 0;
  height: auto;


}

:chat-list-import{
  flex: 382 0 0;
}


.chat-window{
  background: transparent;
  flex: 1133 0 0;
  height: auto;

  display: grid;
  grid-template-areas: 
  "cw-margin"
  "cw-box";
  grid-template-rows: 1fr 16fr;

}
.chat-container{
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), var(--primary);
  width: 100%;
  height: 100%;

  grid-area: cw-box;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.chat-box{
  width: 38vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;  
}
.chat-feed{
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.input-row{
  width: 100%;
  height: 114px;
}
.placeholder-text{
  opacity: 50%;
}

.chat-info-container{
  background: transparent;
  flex: 312 0 0;
  height: auto;


}