<div class="main-page">
  <div class="main-page__div-sidebar">
    <div class="main-page__div-sidebar__logo-div">
      <img src="/assets/image/Patefon.svg" />

    </div>
    <div class="main-page__div-sidebar__buttons-div">
      <span
        class="main-page__div-sidebar__buttons-div__span"
      >{{user.user.name}}</span>
      <button
        type="button"
        class="main-page__div-sidebar__buttons-div__button exit-btn"
      >
        <div class="main-page__div-sidebar__buttons-div__button__div-container">
          <img
            class="main-page__div-sidebar__buttons-div__button__div-container__img"
            src="/assets/image/IconLogout.svg"
          />

        </div>
      </button>
    </div>

  </div>

  <div class="main-page__div-chat-list" id="chat-list-import">

  </div>

  <div class="main-page__chat-content-div">
    <div class="main-page__chat-content-div__container-chat-div">
      <div
        class="main-page__chat-content-div__container-chat-div__div-chat-box"
      >
        <div
          class="main-page__chat-content-div__container-chat-div__div-chat-box__feed-div"
        >
          <p
            class="main-page__chat-content-div__container-chat-div__div-chat-box__feed-div__p"
          >
            Выберите чат
          </p>
        </div>
        <div
          class="main-page__chat-content-div__container-chat-div__div-chat-box__div-input"
        >

        </div>
      </div>
    </div>
  </div>
  <div class="main-page__info-container-div">

  </div>
</div>