<!DOCTYPE html>
<html>
    <head>
        <title>Frontend-01</title>
        <link href="./MainPage.css" rel="stylesheet"></link>
        <link href="https://fonts.googleapis.com/css?family=Inter:300;400;500&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <div id="root">
            <div class="main-container">
                <div class="sidebar-container">

                </div>

                <div id="chat-list-import">

                </div>
                
                <div class="chat-window">
                    <div class="chat-container">
                        <div class="chat-box">
                            <div class="chat-feed">
                                <p class="placeholder-text">
                                    Пока здесь ничего нет
                                </p>
                            </div>
                            <div class="input-row">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat-info-container">

                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        <script type="module" src="import.js"></script>
        <script type="module" src="MainPage.js"></script>
    </body>   

</html>