$primary: var(--primary);
$primary-shadow-15: var(--primary-shadow-15);

$background: var(--background);

$button-over-background-hover: var(--button-over-background-hover);
$chat-margin-top: 20px;
$main-page-left-column-min-width: 300px;
$main-page-left-column-max-width: 400px;

body#main {
  background-color: var(--primary);
}

.main-page {
  background: $primary;
  display: flex;
  height: 100vh;
}

.main-page-content {
  background: $background;
  width: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main-page-logo-img {
  width: 100px;
  height: 100px;
}

.main-page-user-avatar-img {
  margin-bottom: 30px;
  width: 54px;
  height: 54px;

  border-radius: 100px;
  cursor: pointer;
}

.main-page-widget {
  display: flex;
  min-width: $main-page-left-column-min-width;
  max-width: $main-page-left-column-max-width;
  width: 30vw;
}

.chat-content {
  background: $primary-shadow-15;
  flex: 1;

  margin-right: 20px;
  margin-top: $chat-margin-top;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  &__placeholder {
    color: var(--text-over-primary);
    font-family: "Inter";
    line-height: 21px;
    font-weight: 400;
    font-size: 16px;
    opacity: 50%;

    flex: 1;
    align-self: center;
    align-content: center;
  }
}

.main-page-navigators-button {
  padding: 0;

  height: 50px;
  width: 50px;
  background-color: inherit;
  border: none;
  transition-duration: 0.2s;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
    
  &:hover {
    background-color: $button-over-background-hover;
    border-radius: 100%;
  }
}

.main-page-navigators {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.chat-info-container{
  position: relative;
  margin-top: $chat-margin-top;
  
  display: flex;
  flex-direction: column;
}
