<div class="main-page">
  <div class="main-page-content">
    <div class="main-page-logo">
      <img class="main-page-logo__img" src="/assets/image/Patefon.svg" />

    </div>
    <div class="main-page-navigators">
      <button
        type="button"
        id="home-button"
        class="main-page-navigators-button"
      >
        <img
          class="main-page-navigators-button__img-home"
          src="/assets/image/home.svg"
        />
      </button>
      <button
        type="button"
        id="contact-button"
        class="main-page-navigators-button"
      >
        <img
          class="main-page-navigators-button__img-contacts"
          src="/assets/image/Contacts.svg"
        />
      </button>
      <button
        type="button"
        id="settings-button"
        class="main-page-navigators-button"
      >
        <img
          class="main-page-navigators-button-profile"
          src="/assets/image/settings.svg"
        />
      </button>
    </div>
    <div class="main-page-sidebar">
      <span class="main-page-sidebar__span">{{user.name}}</span>
      <button type="button" class="main-page-logout exit-btn">
        <div class="main-page-logout-img">
          <img
            class="main-page-logout-img__img"
            src="/assets/image/IconLogout.svg"
          />

        </div>
      </button>
    </div>

  </div>

  <div class="main-page-widget" id="widget-import">

  </div>

  <div class="chat-content">
    <div class="chat-content-block">
      <div class="chat-content-dialog">
        <div class="dialog-content">
          <p class="dialog-content__p">
            Пока здесь ничего нет
          </p>
        </div>
        <div class="dialog-content-input">

        </div>
      </div>
    </div>
  </div>
  <div class="chat-user-info">

  </div>
</div>