<div class="main-container">
  <div class="main-container__div-sidebar">
    <div class="main-container__div-sidebar__logo-div">
      <img src="/assets/image/Patefon.svg" />

    </div>
    <div class="main-container__div-sidebar__buttons-div">
      <span class="main-container__div-sidebar__buttons-div__span">{{user}}</span>
      <button type="button" class="main-container__div-sidebar__buttons-div__button exit-btn">
        <div class="main-container__div-sidebar__buttons-div__button__div-container">
          <img class="main-container__div-sidebar__buttons-div__button__div-container__img" src="/assets/image/IconLogout.svg" />

        </div>
      </button>
    </div>

  </div>

  <div class="main-container__div-chat-list" id="chat-list-import">

  </div>

  <div class="main-container__chat-div">
    <div class="main-container__chat-div__container-chat-div">
      <div class="main-container__chat-div__container-chat-div__div-chat-box">
        <div class="main-container__chat-div__container-chat-div__div-chat-box__feed-div">
          <p class="main-container__chat-div__container-chat-div__div-chat-box__feed-div__p">
            Пока здесь ничего нет
          </p>
        </div>
        <div class="main-container__chat-div__container-chat-div__div-chat-box__div-input">

        </div>
      </div>
    </div>
  </div>
  <div class="main-container__info-container-div">

  </div>
</div>