$primary: var(--primary);
$background: var(--background);

.main-container {
  background: $primary;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
}

.main-container__div-sidebar {
  background: $background;
  width: 100px;
  flex: 100 0 0;
  height: auto;

  display: flex;
  flex-direction: column;
}

.main-container__div-sidebar__logo-div {
  display: flex;
  width: 100px;
  height: 100px;
  align-content: center;
  justify-content: center;
}

.main-container__div-sidebar__buttons-div {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
}

.main-container__div-sidebar__buttons-div__button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-container__div-sidebar__buttons-div__button__div-container {
  width: 42px;
  height: 42px;
  align-self: center;
}

.main-container__div-chat-list {
  flex: 382 0 0;
}

.main-container__chat-div {
  background: transparent;
  flex: 1133 0 0;
  height: auto;

  display: grid;
  grid-template-areas:
    "cw-margin"
    "cw-box";
  grid-template-rows: 1fr 16fr;
}
.main-container__chat-div__container-chat-div {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    $primary;
  width: 100%;
  height: 100%;

  grid-area: cw-box;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.main-container__chat-div__container-chat-div__div-chat-box {
  width: 38vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.main-container__chat-div__container-chat-div__div-chat-box__feed-div {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container__chat-div__container-chat-div__div-chat-box__div-input {
  width: 100%;
  height: 114px;
}

.main-container__info-container-div {
  background: transparent;
  flex: 312 0 0;
  height: auto;
}

.main-container__div-sidebar__buttons-div__span{
  color: var(--text-over-primary);
  font-family: var(--main-font-family);
  font-family: var(--base-font-size);
}


.main-container__chat-div__container-chat-div__div-chat-box__feed-div__p{
  color: var(--text-over-primary);
  font-family: "Inter";
  line-height: 21px;
  font-weight: 400;
  font-size: 16px;
  opacity: 50%;
}