<div class="main-page">
  <div class="main-page-content">
    <img class="main-page-logo-img" src="/assets/image/Patefon.svg" />
    <div class="main-page-navigators">
      <button
        type="button"
        id="home-button"
        class="main-page-navigators-button"
      >
        <img
          class="main-page-navigators-button__img-home"
          src="/assets/image/home.svg"
        />
      </button>
      <button
        type="button"
        id="contact-button"
        class="main-page-navigators-button"
      >
        <img
          class="main-page-navigators-button__img-contacts"
          src="/assets/image/Contacts.svg"
        />
      </button>
      <button
        type="button"
        id="settings-button"
        class="main-page-navigators-button"
      >
        <img
          class="main-page-navigators-button-profile"
          src="/assets/image/settings.svg"
        />
      </button>
    </div>
    <img
      id="user-avatar"
      class="main-page-user-avatar-img"
      src="{{avatar}}"
      alt=""
    />
  </div>

  <div class="main-page-widget" id="widget-import">

  </div>

  <div class="chat-content" id="chat-content">
    <p class="chat-content__placeholder">
      Выберите чат
    </p>
  </div>
  <div id="chat-info-container" class="chat-info-container">

  </div>

  {{!-- <div id="survey-modal" class="survey-modal">
    </div> --}}
    <iframe src="/survey" class="survey" id="survey-frame" height="500px" width="500px"></iframe>
  
</div>