$primary: var(--primary);
$background: var(--background);

.main-page {
  background: $primary;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
}

.main-page-content {
  background: $background;
  width: 100px;
  flex: 100 0 0;
  height: auto;

  display: flex;
  flex-direction: column;
}

.main-page-logo {
  display: flex;
  width: 100px;
  height: 100px;
  align-content: center;
  justify-content: center;
}

.main-page-sidebar {
  display: flex;
  height: 50%;
  flex-direction: column;
  justify-content: flex-end;

  &__span {
    color: var(--text-over-primary);
    font-family: var(--main-font-family);
    font-family: var(--base-font-size);
  }
}

.main-page-logout {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-page-logout-img {
  width: 42px;
  height: 42px;
  align-self: center;
}

.main-page-widget {
  display: flex;
}

.chat-content {
  background: transparent;
  flex: 1133 0 0;
  height: auto;

  display: grid;
  grid-template-areas:
    "cw-margin"
    "cw-box";
  grid-template-rows: 1fr calc(16 * (100vh) / 17);
}
.chat-content-block {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    $primary;
  width: 100%;
  height: 100%;

  max-height: 100%;

  grid-area: cw-box;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.chat-content-dialog {
  width: 38vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.main-page__chat-content-div__container-chat-div__div-chat-box {
  width: 38vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.dialog-content {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  &__p {
    color: var(--text-over-primary);
    font-family: "Inter";
    line-height: 21px;
    font-weight: 400;
    font-size: 16px;
    opacity: 50%;
  }
}
.dialog-content-input {
  width: 100%;
  height: 114px;
}

.chat-user-info {
  background: transparent;
  flex: 312 0 0;
  height: auto;
}

.main-page__info-container-div {
  background: transparent;
  flex: 312 0 0;
  height: auto;
}

.main-page-navigators-button {
  height: 50px;
  width: 50px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  margin-bottom: 25px;

  transition-duration: 0.2s;

  &:hover {
    background-color: #272727;
    border-radius: 100%;
  }
}

.main-page-navigators {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  margin-top: 100%;
}
