<a class="contact-card" href={{contact.id}}>

  <div class="contact-card__div">
    <img class="contact-card__div__img" src="{{contact.avatarBase64}}" />

    <div class="contact-card__div__chat-info">
      <div class="contact-card__div__chat-info__div-chat-name">
        <span class="contact-card__div__chat-info__div-chat-name__span">
          {{contact.name}}
        </span>
      </div>
    </div>
    <div class="contact-card__div__div-message">
      <div class="contact-card__div__div-message__div">
        <span class="contact-card__div__div-message__div__span">
          В сети
        </span>
      </div>

    </div>
  </div>
</a>