<a class="contact-card" href={{contact.id}}>

  <div class="contact-card-content">
    <img
      class="contact-card-content__img-avatar"
      src="{{contact.avatarURL}}"
    />

    <div class="contact-card-name">
      <span class="contact-card-name__span">
        {{contact.name}}
      </span>
    </div>
    <div class="contact-card-user-status">
      <span class="contact-card-user-status__span">
        В сети
      </span>
    </div>
  </div>
</a>