<a class="contact-card" href={{contact.id}}>
  {{#if contact.form}}
    <div class="contact-card-checkbox">
      <img
        class="contact-card-unchecked"
        src="/assets/image/checkbox-unchecked.svg"
      />
      <img
        class="contact-card-checked"
        src="/assets/image/checkbox-checked.svg"
        style="display: none;"
      />
    </div>
  {{/if}}
  <img class="contact-card__img-avatar" src="{{contact.avatarURL}}" />
  <div class="contact-card-info">
    <span class="contact-card-name">
      {{contact.name}}
    </span>
    <span class="contact-card-user-status">
      В сети
    </span>
  </div>
</a>