.contact-card {
  width: 100%;
  height: 62px;
  color: #fff;
  font-family: var(--main-font-family);
  text-decoration: none;
}

.contact-card__div {
  margin-inline: 9px;
  padding-inline: 10px;
  display: grid;
  grid-template-areas:
    "avatar up"
    "avatar low";
  grid-template-columns: min-content auto;
  grid-template-rows: 50% 50%;
}

.contact-card__div__img {
  margin-top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  grid-area: "avatar";
}

.contact-card__div__chat-info {
  grid-area: up;
}

.contact-card__div__div-message {
  grid-area: low;
}

.contact-card__div__chat-info {
  padding-top: 7px;
}

.contact-card__div__chat-info__div-chat-name__span {
  padding: 10px;
}

.contact-card__div__div-message__div__span {
  padding: 10px;
  font-size: 14px;
  opacity: 50%;
}
