<a class="contact-card" href={{contact.id}}>
  {{#if contact.form}}
    <div class="contact-card-checkbox">
      <img
        class="contact-card-unchecked"
        src="/assets/image/checkbox-unchecked.svg"
      />
      <img
        class="contact-card-checked"
        src="/assets/image/checkbox-checked.svg"
        style="display: none;"
      />
    </div>
  {{/if}}
  <div class="contact-card-content">
    <img class="contact-card-content__img-avatar" src="{{contact.avatarURL}}" />

    <div class="contact-card-name">
      <span class="contact-card-name__span">
        {{contact.name}}
      </span>
    </div>
    <div class="contact-card-user-status">
      <span class="contact-card-user-status__span">
        В сети
      </span>
    </div>

  </div>
</a>