<div id="modal" class="modal">
  <div class="delete-popup">
    <div class="header-popup">
        <span class="header-popup__span">Удалить выбранное сообщение?</span>
    </div>
    <div class="error-delete">
    <span id="span-error-delete" class="error-delete__span" style="color: tomato;"></span>
    </div>
    <div class="delete-popup-buttons">
        <button id="cancel-btn" class="delete-popup-buttons__button-cancel">Отмена</button>
        <button id="delete-btn" class="delete-popup-buttons__button-delete">Удалить</button>
    </div>
  </div>
  
</div>