<div class="group-info">
    <div class="group-info-header">
        <img class="group-info-header__img" src="" alt="">
        <span class="group-info-header__span-group-name">Технопарк</span>
        <span class="group-info-header__span">Группа</span>
    </div>
    <div class="group-content">
        <div class="group-content-header">
            <span class="group-content-header__span">Участники <span class="users-count">4</span></span>
            <button class="group-content-header__button">+ Пригласить</button>
        </div>
        <div class="users-list">

        </div>
    </div>
    <div class="delete-group">
        <button class="delete-group__button">Удалить группу</button>
    </div>
</div>