@import url("https://fonts.googleapis.com/css?family=Inter:wght@300;400;500&display=swap");

body {
  margin: 0 0 0 0;
}

:root {
  --background: #090707;
  --primary: #101723;
  --secondary: #4f82bf;
  --text-error-message: red;
  --text-over-primary: #ffffff;
  --form-button-access: #afcbee;
  --a-element: #99c3ff;
  --render-signup-button: #2d3339;
  --input-width: 356px;
  --input-height: 55px;
  --main-font-family: sans-serif;
  --form-font-size: 22px;
  --error-font-size: 14px;
  --base-font-size: 16px;
}

