<div id="left"></div>
<div id="right">
    <form class="LoginForm" method="post">
        <p>Войдите в Patefon</p>
        <div class="errorDiv">
        <span id="errorMessage"></span>
        </div>
        <input class="login not_error" type="text" placeholder="Логин" name="text">
        <div class="errorDiv">
        <span id="errorPassword"></span>
        </div>
        <input class="password not_error" type="password" placeholder="Пароль" name="password">
        <button class="btn" type="submit" id="Enter">Войти</button>
        
    </form>
    <button class="btn" type="submit" id="Create">Создать аккаунт</button>
</div>