<div id="left" class="left"></div>
<div id="right" class="right">
    <form class="LoginForm" method="post">
        <p>Войдите в Patefon</p>
        <div class="errorDiv">
        <span class="errorLogin" id="errorLogin"></span>
        </div>
        <input id="login" class="login not_error" type="text" placeholder="Логин" name="text">
        <div class="errorDiv">
        <span class="errorPassword" id="errorPassword"></span>
        </div>
        <input id="password" class="password not_error" type="password" placeholder="Пароль" name="password">
        <button class="btn Enter" type="submit" id="Enter">Войти</button>
        
    </form>
    <button class="btn Create" type="submit" id="Create">Создать аккаунт</button>
</div>