  <div class="main-page__div-box">
    <div class="main-page__div-box__div-header">
      <div class="main-page__div-box__div-header__div-img">
        <img
          id="back-button"
          class="main-page__div-box__div-header__div-img__img"
          src="/assets/image/strelka.svg"
          alt=""
        />
      </div>
      <div class="main-page__div-box__div">
        <span class="main-page__div-box__div__span">Контакты</span>
      </div>
    </div>
    <div class="main-page__div-box__div__contact-div" id="contacts-list">
    </div>
  </div>