<div class="contacts-list">
  <div id="contact-add"></div>
  <div class="contacts-list-header">
    <div class="contacts-list-header-img">
      <img
        id="back-button"
        class="contacts-list-header-img__img"
        src="/assets/image/back-btn-img.svg"
        alt=""
      />
    </div>
    <div class="contacts-list-header-name">
      <span class="contacts-list-header-name__span">Контакты</span>
    </div>
  </div>
  <div class="contacts-user-list" id="contacts-list">
  </div>

  <div class="button-add">
    <img
      id="add-contact-button"
      class="button-add__img"
      src="/assets/image/add-contact-button.svg"
      alt=""
    />
  </div>
</div>