<div class="contact-page__div-box">
  <div id="contact-add"></div>
  <div class="contact-page__div-box__div-header">
    <div class="contact-page__div-box__div-header__div-img">
      <img
        id="back-button"
        class="contact-page__div-box__div-header__div-img__img"
        src="/assets/image/strelka.svg"
        alt=""
      />
    </div>
    <div class="contact-page__div-box__div">
      <span class="contact-page__div-box__div__span">Контакты</span>
    </div>
  </div>
  <div class="contact-page__div-box__div__contact-div" id="contacts-list">
  </div>
  
  <div class="button-add">
    <div class="contact-page__div-box__button-div">
    <img id="add-contact-button" class="contact-page__div-box__button-div__img" src="assets/image/add-contact-button.svg" alt="">
    </div>
  </div>
</div>

