<div class="contacts-list">
  <div id="contact-add"></div>
  <div class="contacts-list-header">
    <img
      id="back-button"
      class="contacts-list-header-img"
      src="/assets/image/back-btn-img.svg"
      alt=""
    />
    <span class="contacts-list-header-name">Контакты</span>
  </div>
  <div class="contacts-user-list" id="contacts-list">

  </div>
  <img
    id="add-contact-button"
    class="button-add-img"
    src="/assets/image/add-contact-button.svg"
    alt=""
  />
</div>