.contact-page__div-box {
    display: flex;
    flex-direction: column;
    background: var(--primary);
    flex: 1350 0 0;
    width: 402px;
}

.contact-page__div-box__div-header {
    background: var(--header);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 59px;
    margin-bottom: 20px;
}

.contact-page__div-box__div-header__div-img__img {
    cursor: pointer;
}

.contact-page__div-box__div{
    margin-left: 10px;
    padding: 7px;
}

.contact-page__div-box__div__span {
    color: #fff;
    font-family: var(--main-font-family);
    font-size: var(--form-font-size);
}

.contact-page__div-box__button-div {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.contact-page__div-box__button-div__img {
    cursor: pointer;
}


.contact-page__div-box__div-header__div-img {
    padding-left: 10px;
    height: 24px;
}

.contact-page__div-box__div__contact-div {
    min-height: 625px;
    max-height: 625px;
    overflow: scroll;
}