<div class="contacts-list">
  <div id="contact-add"></div>
  <div class="contacts-list-header">
    <div class="contacts-list-header-img">
      <img
        id="back-button"
        class="contacts-list-header-img__img"
        src="/assets/image/strelka.svg"
        alt=""
      />
    </div>
    <div class="contacts-list-header-name">
      <span class="contacts-list-header-name__span">Контакты</span>
    </div>
  </div>
  <div class="contacts-user-list" id="contacts-list">
  </div>
  
  <div class="button-add">
    <div class="button-add-img">
    <img id="add-contact-button" class="button-add-img__img" src="assets/image/add-contact-button.svg" alt="">
    </div>
  </div>
</div>

