<div class="main-page__div-chat-list" id="chat-list-import">
    <div class="chat-list-container">

        <div class="chat-list-container__div">
            <div class="chat-list-container__div__search-div">
            <div class="chat-list-container__div__search-div__input-div">

            </div>
            </div>

            <div id="contacts-list" class="contacts-list">
                
            </div>
        </div>
    </div>
</div>