<div class="main-page">
  <div class="main-page__div-sidebar">
    <div class="main-page__div-sidebar__logo-div">
      <img src="/assets/image/Patefon.svg" />

    </div>
    <div class="main-page__div-sidebar__buttons-div">
      <span
        class="main-page__div-sidebar__buttons-div__span"
      >{{user.user.name}}</span>
      <button
        type="button"
        class="main-page__div-sidebar__buttons-div__button exit-btn"
      >
        <div class="main-page__div-sidebar__buttons-div__button__div-container">
          <img
            class="main-page__div-sidebar__buttons-div__button__div-container__img"
            src="/assets/image/IconLogout.svg"
          />

        </div>
      </button>
    </div>

  </div>
  <div class="main-page__div-box">
    <div class="main-page__div-box__div-header">
        <div class="main-page__div-box__div-header__div-img">
            <img class="main-page__div-box__div-header__div-img__img" src="/assets/image/strelka.svg" alt="">
        </div>
        <div class="main-page__div-box__div">
            <span class="main-page__div-box__div__span">Профиль</span>
        </div>
    </div>
    <div class="main-page__div-box__div-user-info">
        <form class="main-page__div-box__div-user-info__form">
            <div id="default-avatar" class="main-page__div-box__div-user-info__form__div-default-avatar">
                <img class="main-page__div-box__div-user-info__form__div-default-avatar__img" src="/assets/image/default-avatar.svg" alt="">
            </div>
            <input id="user-name" class="main-page__div-box__div-user-info__form__input" type="text" placeholder="Имя" name="text"/>
            <p class="main-page__div-box__div-user-info__form__p">Добавьте свое имя пожалуйста</p>
            <input class="main-page__div-box__div-user-info__form__input" type="text" name="text" placeholder="Дата рождения (Опционально)">
            <p class="main-page__div-box__div-user-info__form__p">Добавьте свою дату рождения</p>
            <input class="main-page__div-box__div-user-info__form__input" type="text" name="text" placeholder="Описание"/>
            <p class="main-page__div-box__div-user-info__form__p">Любые подробности о себе, например: возраст, род занятий или город. Пример: 20 лет, фронтендер из Москвы</p>
        </form>
        
    </div>
    <div class="main-page__div-box__button-confirm">
        <img src="/assets/image/confirm.svg" alt=""/>
    </div>
  </div>
</div>