body {
  background-color: var(--background);
}

.root {
  margin: auto auto;
  display: flex;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}


.auth-form__form__input {
  display: block;
  padding-left: 10px;
  margin-bottom: 10px;
  width: var(--input-width);
  height: var(--input-height);
  border-radius: 15px 15px 15px 15px;
  font-size: var(--form-font-size);
  font-family: var(--main-font-family);
  color: var(--text-over-primary);
  background-color: var(--primary);
}

.btn {
  align-items: center;
  margin-bottom: 20px;
  display: block;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  width: var(--input-width);
  height: var(--input-height);
  border-radius: 60px 60px 60px 60px;
  font-size: var(--form-font-size);
  font-family: var(--main-font-family);
  cursor: pointer;
}

.auth_btn{
  margin-left: 7px;
}

.auth-form__form__button {
  margin-top: 50px;
  background-color: var(--form-button-access);
  color: var(--primary);
}

.auth-form__button {
  background-color: var(--render-signup-button);
  color: var(--text-over-primary);
}

.auth-form__form__p {
  text-align: center;
  font-size: 30px;
  color: var(--text-over-primary);
  font-family: var(--main-font-family);
  margin-top: 175px;
  margin-bottom: 80px;
}

.auth-form__form__error__span {
  font-size: var(--error-font-size);
  font-family: var(--main-font-family);
  color: var(--text-error-message);
  min-height: 16px;
  height: fit-content;
  display: inline-block;
  align-self: flex-start;
}

.not_error {
  border: 2px solid #4f82bf;
}

.error {
  border: 2px solid red;
}

.auth-form__form__login-error {
  min-height: 16px;
  max-width: var(--input-width);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

.auth-form__form__password__img {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}