<div id="notification" class="notification hide">
    <div class="notification-header">
        <span class="notification-header__span">Новое сообщение</span>
        <img id="cancel-notification" class="notification-header__img" src="/assets/image/cancel.svg" alt="...">
    </div>
    <div id="notification-content" class="">

    </div>

</div>