<div id="modal" class="contact-add">
  <div class="contact-add-modal">
    <div class="contact-header">
      <div class="contact-header-name">
        <span class="contact-header-name__span">Новый контакт</span>
      </div>
      <div class="contact-header-back">
        <img
          id="cancel-btn"
          class="contact-header-back__img"
          src="/assets/image/cancel.svg"
          alt=""
        />
      </div>
    </div>
    <form
      class="contact-add-form"
      onkeypress="if(event.keyCode == 13) return false;"
    >
      <div class="contact-add-input">
        <div class="contact-add-input-information">
          <span class="contact-add-input-information__span">Введите
            существующего пользователя</span>
        </div>
        <div class="contact-add-input-info-data">
          <span class="contact-add-input-info-data__span">Логин</span>
        </div>
        <div class="contact-add-input-data">
          <input
            id="username-input"
            class="contact-add-input-data__input"
            type="text"
            name="text"
          />
        </div>
        <div class="contact-add-error">
          <span id="error-span" class="contact-add-error__span"></span>
        </div>
      </div>
      <div class="contact-send">
        <div class="contact-send-img">
          <img
            id="confirm-btn"
            class="contact-send-img__img"
            src="/assets/image/confirm.svg"
            alt=""
          />
        </div>
      </div>

    </form>
  </div>
</div>