<div class="contact-add">
    <div class="contact-add-form">
        <div class="contact-add__header-div">
            <div class="contact-add__header-div__div-text">
                <span class="contact-add__header-div__div-text__span">Новый контакт</span>
            </div>
            <div class="contact-add__header-div__close-btn">
                <img id="cancel-btn" class="contact-add__header-div__close-btn__img" src="/assets/image/cancel.svg" alt="">
            </div>
        </div>
        <form class="contact-add__form">
            <div class="contact-add__form__div">
                <div class="contact-add__form__div__info-div">
                    <span class="contact-add__form__div__info-div__span">Введите существующего пользователя</span>
                </div>
                <div class="contact-add__form__div__username-div">
                    <span class="contact-add__form__div__username-div__span">Юзернейм</span>
                </div>
                <div class="contact-add__form__div__input-div">
                    <input id="username-input" class="contact-add__form__div__input-div__input" type="text" name="text">
                </div>
            </div>
            <div class="contact-add__form__div-confirm">
                <div class="contact-add__form__div-confirm__div-img">
                    <img id="confirm-btn" class="contact-add__form__div-confirm__div-img__img" src="/assets/image/confirm.svg" alt="">
                </div>
            </div>
            
        </form>
    </div>
</div>