.contact-add {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8000;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.contact-add-modal {
  opacity: 1;
  z-index: 9000;
  border-radius: 25px;
  margin-left: 40%;
  margin-top: 20%;
  width: 351px;
  height: 232px;
  background-color: #4f82bf;
}

.contact-header {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  padding-top: 10px;
}

.contact-header-name {
  &__span {
    color: #fff;
    font-size: 22px;
    font-family: var(--main-font-family);
  }
}

.contact-header-back {
  margin-left: 39%;

  &__img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}

.contact-add-input-information {
  margin-top: 20px;
  padding-left: 15px;

  &__span {
    color: #fff;
    font-size: 16px;
    font-family: var(--main-font-family);
  }
}

.contact-add-input-data {
  &__input {
    display: block;
    width: 316px;
    height: 25px;
    margin-left: 15px;
    display: block;
    border: none;
    border-bottom: 2px solid var(--text-over-primary);
    color: var(--text-over-primary);
    background-color: #4f82bf;
    outline: none;
    transition: 1s;
    font-size: 16px;

    &::placeholder {
      color: var(--text-over-primary);
    }

    &:focus {
      border-bottom: 2px solid var(--background);
      transition: 1s;
    }
  }
}

.contact-send {
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: end;
  margin-top: 3%;
}

.contact-add-input-info-data {
  margin-top: 7px;
  padding-left: 15px;

  &__span {
    color: #fff;
    font-size: 12px;
    opacity: 50%;
    font-family: var(--main-font-family);
  }
}

.contact-send-img {
  &__img {
    cursor: pointer;
  }
}

.contact-add-error {
  padding-left: 15px;
  min-height: 18px;

  &__span {
    font-size: 14px;
    font-family: var(--main-font-family);
  }
}

.error-span {
  color: red;
}

.not-error-span {
  color: #fff;
}
