<div class="chat-list-container">

  <div class="chat-list-box">
    <div class="search-box">
      <div class="input-field">

      </div>
    </div>

    <div id="chat-list" class="chat-list">

    </div>
  </div>
</div>