<div class="chat-list-container">

    <div class="chat-list-box">
        <div class="search-box">
            <div class="input-field">

            </div>
        </div>
        <div class="chat-list">
            <a class="chat-card-href" href={{this.id}}>
                {{#each chat}}
                <div class="chat-card">
                    <div class="chat-card-img">

                    </div>
                    <div class="chat-card-upper-row">
                        <div class="main-text-container">
                            <span class="chat-name">
                                {{this.name}}
                            </span>
                        </div>
                        <div class="side-text-container">
                            <span class="last-message-date">
                                Sep 31
                            </span>
                        </div>
                    </div>
                    <div class="chat-card-lower-row">
                        <div class="main-text-container-lower">
                            <span class="last-messanger-name">
                                {{this.name}}
                            </span>
                            <span class="split-column">:&nbsp;</span>
                            <span class="last-message">
                                {{this.lastMessage}}
                            </span>

                        </div>
                        <div class="side-text-container-lower">
                            <span class="last-message-date">
                            </span>
                        </div>

                    </div>
                </div>
                {{/each}}

            </a>
        </div>
    </div>

</div>