$primary: var(--primary);
$primary-shadow-25: var(--primary-shadow-25);

$text-over-primary: var(--text-over-primary);

$scroll-bar-color: var(--scroll-bar-color);

$chat-padding-top: var(--chat-padding-top);

@mixin font-settings($font-family, $font-weight, $font-size, $color) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
}

.chat-list-container {
  position: relative;
  width: 100%;

  margin-top: $chat-padding-top;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-list-container-search {
  background: $primary-shadow-25;
  height: 70px;

  border-radius: 20px;

  margin: 0 10px;
}

.chat-list-container-chatlist {
  flex: 1;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: $scroll-bar-color;
    border-radius: 40px;
  }
  &::-webkit-scrollbar-track {
    background: inherit;
  }
}

.add-icon {
  width: 54px;
  height: 54px;

  transition: transform 300ms ease;
  cursor: pointer;
}

.add-chat {
  position: absolute;
  right: 15px;
  bottom: 15px;

  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  gap: 10px;

  &__popup {
    background: $primary-shadow-25;
    border-radius: 10px;
    padding: 10px;

    flex-direction: column;
    gap: 5px;

    &__item {
      cursor: pointer;
      @include font-settings("Inter", 400, 16px, $text-over-primary);

      display: flex;
      gap: 5px;
    }
  }
}
