.chat-list-container {
  background: transparent;

  height: 100%;

  display: grid;
  grid-template-areas:
    "cl-margin"
    "cl-box";
  grid-template-rows: 1fr 16fr;

  line-height: 22px;
}

.chat-list-container__div {
  width: 404px;

  grid-area: cl-box;
  display: flex;
  flex-direction: column;
}

.chat-list-container__div__search-div {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    var(--primary);
  height: 85px;

  border-radius: 20px;

  box-sizing: border-box;
  margin-inline: 9px;
  margin-bottom: 10px;
}

.chat-list-container__div__chatlist-div {
  --avatar-size: 60px;
  height: 100%;
}
