<div class="chat-list-container">

  <div class="chat-list-container__div">
    <div class="chat-list-container__div__search-div">
      <div class="chat-list-container__div__search-div__input-div">

      </div>
    </div>

    <div id="chat-list" class="chat-list-container__div__chatlist-div">

    </div>
    
    <div class="add-chat">
      <div class="add-chat__button">
      <img
        class="profile-form-confirm__img"
        src="/assets/image/confirm.svg"
        alt=""
      />
      </div>
    </div>

  </div>
</div>