$primary: var(--primary);
$primary-shadow-25: #0a0e16;

$text-over-primary: #ffffff;

@mixin font-settings($font-family, $font-weight, $font-size, $color) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
}

.chat-list-container {
  height: 100%;
  width: 404px;

  margin-top: 20px;

  display: flex;
  flex-direction: column;
}

.chat-list-container-search {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    var(--primary);
  height: 85px;

  border-radius: 20px;

  box-sizing: border-box;
  margin-inline: 9px;
  margin-bottom: 10px;
}

.chat-list-container-chatlist {
  --avatar-size: 60px;
  height: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: #b8b6b6;
    border-radius: 40px;
  }
  &::-webkit-scrollbar-track {
    background: inherit;
  }
}

.add-chat-btn {
  cursor: pointer;
}

.add-chat {
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
  justify-content: flex-end;

  &__popup {
    position: absolute;
    background: $primary-shadow-25;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;

    bottom: 90px;

    flex-direction: column;
    gap: 5px;

    .create-personal-chat,
    .create-group-chat {
      @include font-settings("Inter", 400, 16px, $text-over-primary);

      display: flex;
      gap: 5px;
      justify-items: flex-end;
    }
  }
}
