<div class="chat-list-container">

  <div class="chat-list-container__div">
    <div class="chat-list-container__div__search-div">
      <div class="chat-list-container__div__search-div__input-div">

      </div>
    </div>

    <div id="chat-list" class="chat-list-container__div__chatlist-div">

    </div>
  </div>
</div>