<div class="statistic-card">
    <span class="statistic-value-type-content__span-question">{{question}}</span>
    <span class="statistic-value-type-content__span-value">
    <img style="width: 30px" src="/assets/image/star-gold.svg" alt=""> {{value}}
    </span>
</div>
<hr style="width: 100px; margin-left: 0px">

