.statistic-value-type-content__span-question{
    display: flex;
    align-items: center;
}


.statistic-value-type-content__span-value {
    display: flex;
    align-items: center;
}

.statistic-card {
    display: flex;
    flex-direction: row;
}