.profile-form {
  display: flex;
  flex-direction: column;
  background: var(--primary);
  flex: 1350 0 0;
  width: 402px;
}

.profile-form-header {
  background: var(--header);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 59px;
  margin-bottom: 20px;
}

.profile-form-header-img {
  padding-left: 10px;
  height: 24px;

  &__img {
    width: 24px;
    cursor: pointer;
  }
}

.profile-form-header-name{
  margin-left: 20px;
  display: flex;
  align-items: center;

  &__span {
    font-size: 22px;
    font-family: var(--main-font-family);
    color: #fff;
  }
}

.profile-form-user-info {
  display: flex;
  justify-content: center;
  height: 78%;
}

.profile-form-user {
  margin: 3% auto auto auto;

  &__input {
    display: block;
    border: none;
    border-bottom: 2px solid var(--text-over-primary);
    padding-left: 10px;
    width: 320px;
    height: var(--input-height);
    font-size: var(--base-font-size);
    font-family: var(--main-font-family);
    color: var(--text-over-primary);
    background-color: var(--primary);
    outline: none;
    transition: 1s;

    &:focus {
        border-bottom: 2px solid #4f82bf;
        transition: 1s;
    }
  }

  &__img {
    display: flex;
    width: 90px;
    height: 90px;
    margin: auto;
    border-radius: 100%;
    opacity: 75%;

    &:hover {
        cursor: pointer;
        opacity: 1;
    }
  }
  
  &__input-avatar {
    display: none;
  }

  &__p {
    display: flex;
    width: 320px;
    font-size: 14px;
    color: var(--text-over-primary);
    opacity: 50%;
    margin-bottom: 30px;
    font-family: var(--main-font-family);
  }
}

.profile-error {
    min-height: 18px;

    &__span {
        color: red;
        font-size: 14px;
    }
}

.profile-form-confirm {
  display: flex;
  margin-top: 4%;
  justify-content: flex-end;
  cursor: pointer;
}
