<div class="profile-form">
  <div class="profile-form-header">
    <img
      id="back-button"
      class="profile-form-header-img"
      src="/assets/image/back-btn-img.svg"
      alt=""
    />
    <span class="profile-form-header-name">Профиль</span>
  </div>
  <form class="profile-form-user" method="post">
    <label for="ava">
      <img
        id="avatar"
        class="profile-form-user__img"
        src={{response.avatarURL}}
      />
      <input
        type="file"
        id="ava"
        name="ava"
        class="profile-form-user__input-avatar"
        accept="image/webp, image/gif, image/jpeg, image/webp, image/png"
      />
      <span id="avatar-error" class="avatar-error"></span>
      <br />
    </label>
    <div class="profile-error-nickname">
      <span id="nickname" class="profile-error__span"></span>
    </div>
    <input
      id="user-name"
      class="profile-form-user__input-name profile-form-user__input"
      type="text"
      placeholder="Имя"
      value="{{user.name}}"
      name="text"
    />
    <p class="profile-form-user__p">Отображаемое имя</p>
    <label for="date">
      <div class="profile-error">
        <span id="date-error" class="profile-error__span"></span>
      </div>
      <input
        type="date"
        class="profile-form-user__input-date profile-form-user__input"
        id="date"
        name="date"
        min="1920-01-01"
        max="{{currentDate}}"
        required
        placeholder="Дата рождения (Опционально)"
      />
      <p class="profile-form-user__p">Добавьте свою дату рождения</p>
    </label>

    <input
      id="bio"
      class="profile-form-user__input-bio profile-form-user__input"
      type="text"
      name="text"
      placeholder="Описание"
      value="{{response.bio}}"
    />
    <p class="profile-form-user__p">Любые подробности о себе, например:
      возраст, род занятий или город. Пример: 20 лет, фронтендер из Москвы</p>
  </form>
  <div class="profile-buttons">
  <img
    class="exit-btn-img"
    id="logout"
    src="/assets/image/IconLogout.svg"
    alt=""
  />
    <img
      id="confirm-button"
      class="profile-form-confirm-img"
      src="/assets/image/confirm.svg"
      alt=""
    />
  </div>
</div>