<div class="group-update">
    <div class="group-update-header">
        <img id="back-button" class="group-update-header__img" src="/assets/image/strelka.svg" alt="">
        <span class="group-update-header__span">Группа</span>
    </div>
    <div class="group-update-content">
        <div class="group-avatar">
            <img class="group-avatar__img" src="/assets/image/default-avatar.svg" alt="">
        </div>
        <div class="group-name">
            <span class="group-name__span">Название</span>
            <input class="group-name__input" type="text" name="text" value="">
        </div>
    </div>
    <div class="confirm-group-update">
        <img class="confirm-group-update__img" src="/assets/image/confirm.svg" alt="">
    </div>
</div>