$primary-shadow-25: var(--primary-shadow-25);

$text-over-primary: var(--text-over-primary);

.chat-card {
  border-radius: 15px;
  margin-right: 10px;

  cursor: pointer;
  text-decoration: none;

  display: flex;

  &__img {
    margin: 10px;

    border-radius: 100%;
    background: $primary-shadow-25;

    width: var(--avatar-size);
    height: var(--avatar-size);
  }

  &__info {
    flex: 1;
    min-width: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    .info {
      &__upper-row {
        display: flex;
      
        .upper-row {
          
          &__chat-name {
            font-family: "Inter";
            line-height: 21px;
            font-weight: 500;
            font-size: 16px;
            color: $text-over-primary;
            flex: 1;

            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          &__date-time {
            margin-left: 2px;
            
            font-family: "Inter";
            line-height: 16px;
            font-weight: 300;
            font-size: 12px;
            color: $text-over-primary;
            filter: brightness(50%);

            align-self: flex-start;
          }
        }
      }

      &__lower-row {
        
        .lower-row__message{
          min-height: 21px;
          font-family: "Inter";
          line-height: 21px;
          font-weight: 400;
          font-size: 16px;
          display: block;
          color: $text-over-primary;
          filter: brightness(50%);

          flex: 1;
          min-width: 0px;

          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
