<a class="chat-card" href={{chat.chatId}}>

  <div class="chat-card__div">
    <img class="chat-card__div__img" src="{{chat.avatarURL}}" />

    <div class="chat-card__div__chat-info">
      <div class="chat-card__div__chat-info__div-chat-name">
        <span class="chat-card__div__chat-info__div-chat-name__span">
          {{chat.chatName}}
        </span>
      </div>
      <div class="chat-card__div__chat-info__date">
        <span class="chat-card__div__chat-info__date__span">
          Окт 10
        </span>
      </div>
    </div>
    <div class="chat-card__div__div-message">
      <div class="chat-card__div__div-message__div">
        <span class="chat-card__div__div-message__div__span">
          {{chat.lastMessage.text}}
        </span>
      </div>

    </div>
  </div>
</a>