<a class="container-a" href={{chat.chatId}}>

  <div class="container-a__div">
    <img class="container-a__div__img" src="{{chat.avatarURL}}" />

    <div class="container-a__div-chatinfo">
      <div class="container-a__div-chatinfo__div-chatname">
        <span class="container-a__div-chatinfo__div-chatname__span">
          {{chat.chatName}}
        </span>
      </div>
      <div class="container-a__div-chatinfo-date">
        <span class="container-a__div-chatinfo-date__span">
          Окт 10
        </span>
      </div>
    </div>
    <div class="container-a__div-message-div">
      <div class="container-a__div-message-div__div">
        <span class="container-a__div-message-div__div__span">
          {{chat.lastMessage}}
        </span>
      </div>

    </div>
  </div>
</a>