<div id="left" class="left"></div>
<div id="right" class="right">
    <form class="signupForm">
        <p>Зарегистрируйтесь в Patefon</p>
        <div class="errorDiv"><span id="errorNickname"></span></div>
        <input id="nickname" class="nickname not_error" type="text" placeholder="Имя пользователя" name="text">
        <div class="errorDiv"><span id="errorLogin"></span></div>
        <input id="login" class="login not_error" type="text" placeholder="Логин" name="text">
        <div class="errorDiv"><span id="errorPassword"></span></div>
        <input id="password" class="password not_error" type="password" placeholder="Пароль" name="password">
        <div class="errorDiv"><span id="errorPassword2"></span></div>
        <input id="password2" class="password2 not_error" type="password" placeholder="Пароль" name="password">
        <a href="/login">Уже есть аккаунт? Войти</a>
        <button type="submit" class="btn signupForm__button">Создать аккаунт</button> 
    </form>
</div>