{{!-- <div class="survey" id="survey">
    <span style="color: white;">HELLO</span>
    <div>

    </div>
</div> --}}
<div id="survey-modal" class="survey-modal">
    <div class="survey-container">
        <div class="survey-header">
            <span class="survey-header__span">Как вам наше приложение?</span>
            <div class="survey-header-cancel">
                <img id="cancel" class="survey-header-cancel__img" src="/assets/image/cancel.svg" alt="">
            </div>
            
        </div>
        <div class="survey-rating">
            <img src="/assets/image/star.svg" alt="">
            <img src="/assets/image/star.svg" alt="">
            <img src="/assets/image/star.svg" alt="">
            <img src="/assets/image/star.svg" alt="">
            <img src="/assets/image/star.svg" alt="">
        </div>
        <div class="survey-confirm">
            <button class="survey-confirm__button">Далее</button>
        </div>
    </div>
</div>