@mixin btn {
    width: 90%;
    height: 29px;
    border-radius: 5px;
    background-color: tomato;
    font-family: var(--main-font-family);
    color: #fff;
    border: none;
    cursor: pointer;
  }

@mixin error {
    font-size: var(--error-font-size);
    font-family: var(--main-font-family);
    color: var(--text-error-message);
    height: fit-content;
    display: inline-block;
    align-self: flex-start;
}