@mixin btn {
    width: 90%;
    height: 29px;
    border-radius: 5px;
    background-color: tomato;
    font-family: var(--main-font-family);
    color: #fff;
    border: none;
    cursor: pointer;
  }

@mixin error {
    font-size: var(--error-font-size);
    font-family: var(--main-font-family);
    color: var(--text-error-message);
    height: fit-content;
    display: inline-block;
    align-self: flex-start;
}

@mixin text {
  color: var(--text-over-primary);
  font-family: var(--main-font-family);
  font-size: 18px;
}
$delete-button-color: var(--delete-button-color);

@mixin delete-btn {
  height: 40px;

  color: $text-over-primary;
  font-size: 16px;
  font-family: var(--main-font-family);
  background-color: $delete-button-color;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  }

  @mixin message-popup-button {
    width: 135px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    font-family: var(--base-font-family);
    cursor: pointer;
    border: none;
  }