<div class="root">
  <div id="news-root" class="news-block">

  </div>
  <div id="right" class="auth-form">
    <form class="auth-form-user" method="post">
      <p class="auth-form__p-login">Войдите в Patefon</p>
      <div class="auth-form-login-error">
        <span class="auth-form-login-error__span" id="errorLogin"></span>
      </div>
      <input
        id="login"
        class="auth-form-user__input login not_error"
        type="text"
        placeholder="Логин"
        name="text"
      />
      <div class="auth-form-login-error">
        <span
          class="auth-form-login-error__span errorPassword"
          id="errorPassword"
        ></span>
      </div>
      <div class="auth-form-user-password" style="position: relative;">
        <input
          id="password"
          class="auth-form-user-password__input auth-form-user__input password not_error"
          type="password"
          placeholder="Пароль"
          name="password"
        />
        <img
          id="password-visibility-toggle"
          class="auth-form-user-password__img-pass_show password-visibility-toggle"
          src="/assets/image/eye.svg"
        />
      </div>
      <button
        class="auth-form-user__button-enter btn Enter"
        type="submit"
        id="Enter"
      >Войти</button>

    </form>
    <button
      class="auth-form__button btn Create"
      type="submit"
      id="Create"
    >Создать аккаунт</button>
  </div>
</div>