<div class="group-info">
  <div class="group-info-header">
    <div class="group-header-images">
      <div class="group-avatar">
        <img class="group-info-header__img" src="{{avatar}}" alt="" />
      </div>
      <div class="group-update-image">
        <img
          id="update-group"
          class="group-update-image__img"
          src="/assets/image/update-group.svg"
          alt=""
        />
      </div>
    </div>
    <span class="group-info-header__span-group-name">{{chat.chatName}}</span>
    <span class="group-info-header__span">Группа</span>
  </div>
  <div class="group-content">
    <div class="group-content-header">
      <span class="group-content-header__span">Участники
        <span
          id="users-count"
          class="users-count"
        >{{chat.countOfUsers}}</span></span>
      <button id="add-user" class="group-content-header__button">+ Пригласить</button>
    </div>
    <hr class="horizontal-line" />
    <div id="users-list" class="users-list">

    </div>
  </div>
  <div class="delete-group">
    <button id="delete-group" class="delete-group__button">Удалить группу</button>
  </div>
  <div id="modal-container">

  </div>
</div>