@import "@/shared/styles/styles.scss";

$secondary: var(--secondary);
$accent: var(--accent);

$text-over-primary: var(--text-over-primary);

$main-page-right-column-width: var(--main-page-right-column-width);
$scroll-bar-color: var(--scroll-bar-color);

.group-info {
  width: $main-page-right-column-width;
  flex: 1;
  min-height: 0;

  margin-right: 20px;

  display: flex;
  flex-direction: column;
}

.group-header-images {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: center;
}

.group-update-image__img {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 15px;
  height: 15px;
  cursor: pointer;
}

.group-info-header {
  border-radius: 25px;
  background-color: $secondary;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    margin: 10px 0;

    width: 70px;
    height: 70px;
    
    border-radius: 100%;
  }

  &__span-group-name {
    font-size: 20px;
    font-family: var(--main-font-family);
    color: $text-over-primary;
  }

  &__span {
    color: $text-over-primary;
    font-size: 14px;
    font-family: var(--main-font-family);
    opacity: 0.4;
    margin-bottom: 15px;
  }
}

.group-content {
  margin: 10px 0 0 10px;

  flex: 1;
  min-height: 0;

  display: flex;
  flex-direction: column;
}

.group-content-header {
  margin-right: 10px;

  display: flex;  
  align-items: flex-end;

  &__span {
    color: $text-over-primary;
    font-family: var(--main-font-family);
    font-size: 14px;
  }

  &__button {
    margin-left: auto;
    box-sizing: border-box;
    padding: 5px;

    background-color: $accent;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
}

.users-count {
  color: $text-over-primary;
  font-family: var(--main-font-family);
  font-size: 14px;
  opacity: 0.4;
}

.users-list {
  margin-bottom: 20px;
  overflow-y: scroll;
  min-height: 0;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: $scroll-bar-color;
    border-radius: 40px;
  }
  &::-webkit-scrollbar-track {
    background: inherit;
  }
}

.delete-group__button {
  margin: auto 0 20px 0;

  @include delete-btn();
}

.horizontal-line {
  margin-right: 10px;
  opacity: 0.5;
}

.subscribe-channel {

  &__button {
    height: 40px;

  color: $text-over-primary;
  font-size: 16px;
  font-family: var(--main-font-family);
  background-color: var(--secondary);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  }
}