@import "@/shared/styles/styles.scss";

$primary: var(--primary);
$secondary: var(--secondary);
$accent: var(--accent);

$text-over-primary: var(--text-over-primary);
$text-over-primary-shadow-30: var(--text-over-primary-shadow-30);

$scroll-bar-color: var(--scroll-bar-color);

@mixin font-settings($font-family, $font-weight, $font-size, $color) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
}

.group-info {
  flex: 1;
  min-height: 0;

  display: flex;
  flex-direction: column;

  @include right-column();
}

.group-info-close-button-img {
  position: absolute;
  top: 15px;
  left: 15px;

  width: 24px;
  height: 24px;

  cursor: pointer;
}

.group-header-images {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: center;
}

.group-update-image__img {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 15px;
  height: 15px;
  cursor: pointer;
}

.group-info-header {
  border-radius: 25px;
  background-color: $secondary;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    margin: 10px 0;

    width: 70px;
    height: 70px;
    
    border-radius: 100%;
  }

  &__span-group-name {
    font-size: 20px;
    font-family: var(--main-font-family);
    color: $text-over-primary;
  }

  &__span {
    color: $text-over-primary;
    font-size: 14px;
    font-family: var(--main-font-family);
    opacity: 0.4;
    margin-bottom: 15px;
  }
}

.group-content {
  margin: 10px 0 0 10px;

  flex: 1;
  min-height: 0;

  display: flex;
  flex-direction: column;
}

.group-content-header {
  margin-right: 10px;

  display: flex;  
  align-items: flex-end;

  &__span {
    color: $text-over-primary;
    font-family: var(--main-font-family);
    font-size: 14px;
  }

  &__button {
    margin-left: auto;
    box-sizing: border-box;
    padding: 5px;

    background-color: $accent;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
}

.users-count {
  color: $text-over-primary;
  font-family: var(--main-font-family);
  font-size: 14px;
  opacity: 0.4;
}

.content {
  &-buttons {
    display: flex;
  }
  &-button {
    padding: 5px;
    box-sizing: border-box;

    cursor: pointer;
    &__name {
      @include font-settings("Inter", 200, 16px, $accent);
    }
  }
  &-carousel {
    overflow: hidden;
  }
  &-tabs {
    display: flex;
    width: 100%;
    height: 100%;
  }
  &-tab {
    padding: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
  }
}

.photos-list {
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: $scroll-bar-color;
    border-radius: 40px;
  }
  &::-webkit-scrollbar-track {
    background: inherit;
  }
  
  .message-photo {
    width: 100px;
    height: 100px;

    object-fit: cover;
    transform: translate3d(0, 0, 1px);        
    }
}

.files-list {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: $scroll-bar-color;
    border-radius: 40px;
  }
  &::-webkit-scrollbar-track {
    background: inherit;
  }
  .message-file {
    box-sizing: border-box;
    padding: 10px;
    
    text-decoration: none;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
  
    &__upper-row {
      display: flex;
      gap: 2px;
    }
  
    &__icon {
      width: 36px;
      height: 36px;
    }
  
    &__info {
      flex: 1;
      
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  
    &__extention {
      @include font-settings("Inter", 500, 14px, $text-over-primary);
  
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &__size {
      @include font-settings("Inter", 500, 12px, $text-over-primary);
    }
  
    &__name {
      @include font-settings("Inter", 500, 12px, $text-over-primary);
  
      display: block;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
  
      overflow: hidden;
      line-break: anywhere;
    }
  }
}

.users-list {
  margin-bottom: 20px;
  overflow-y: scroll;
  min-height: 0;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: $scroll-bar-color;
    border-radius: 40px;
  }
  &::-webkit-scrollbar-track {
    background: inherit;
  }
}

.delete-group__button {
  margin: auto 0 20px 0;

  @include delete-btn();
}

.horizontal-line {
  margin-right: 10px;
  opacity: 0.5;
}

.subscribe-channel {

  &__button {
    height: 40px;

  color: $text-over-primary;
  font-size: 16px;
  font-family: var(--main-font-family);
  background-color: var(--secondary);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  }
}

.block {
  display: block;
}