<div class="chat-user-card">

  <div class="chat-user-card-content">
    <img
      class="chat-user-card-content__img-avatar"
      src="{{contact.avatarURL}}"
    />

    <div class="chat-user-card-name">
      <span class="chat-user-card-name__span">
        {{contact.name}}
      </span>
    </div>
    <div class="chat-user-card-user-status">
      <span class="chat-user-card-user-status__span">
        В сети
      </span>
    </div>
  </div>
</div>