<form class="signupForm">
    <p>Регистрация</p>
    <div><span></span></div>
    <input type="text" placeholder="Имя пользователя" name="text">
    <div><span></span></div>
    <input type="email" placeholder="Емайл" name="email">
    <div><span></span></div>
    <input type="password" placeholder="Пароль" name="password">
    <div><span></span></div>
    <input type="password" placeholder="Пароль" name="password">
    <a href="/signin">Уже есть аккаунт? Войти</a>
    <button type="submit" class="btn">Создать аккаунт</button> 
</form>