<div class="statistic-page">
    <div class="statistic-page-header">
        <span class="statistic-page-header__span">Статистика</span>
    </div>
    <div class="statistic-page-content">
        <div class="statistic-value-type">
            <div class="statistic-value-type-header">
                <span>Топик 1</span>
            </div>
            <div id="statistic-value-topic" class="statistic-value-type-content">
            </div>
        </div>
        <div class="statistic-text-type">
            <div class="statistic-text-type-header">
                <span>Топик 2</span>
            </div>
            <div class="statistic-text-type-content">
                <span class="statistic-text-type-content__span-question">Как у вас дела?</span>
                <span class="statistic-text-type-content__span-value">
                    <img style="width: 30px" src="/assets/image/star-gold.svg" alt=""> 5</span>
            </div>
        </div>
    </div>
</div>