
<div id="header-chat" class="header">
  <img id="chat-avatar" class="avatar" src="{{avatar}}" />
  <div class="info">
    <span id="chat-name" class="info__chat-name">
      {{chat.chatName}}
    </span>
    <span class="info__chat-status">
      {{chat.chatType}}
    </span>
  </div>
  <span class="buttons">

  </span>
</div>
<div class="chat">
  <div class="messages">

  </div>
  <div class="input">
    <div class="input-bubble">
      <img class="attach-icon" src="/assets/image/Attach.svg" />
      <textarea
        class="text-area"
        placeholder="Введите сообщение"
        maxlength="1000"
      ></textarea>
      <img class="emoji-icon" src="/assets/image/Emoji.svg" />
    </div>
    <img class="input-send-btn" src="/assets/image/Send.svg" />
  </div>
</div>