$background-shadow-50: var(--background-shadow-50);
$primary: var(--primary);
$primary-shadow-25: var(--primary-shadow-25);
$accent: var(--accent);

$text-over-primary: var(--text-over-primary);
$text-over-primary-shadow-50: var(--text-over-primary-shadow-50);

$chat-header-height: 70px;
$chat-min-width: 500px;
$messages-container-max-width: 600px;

@mixin font-settings($font-family, $font-weight, $font-size, $color) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
}

textarea {
  border: none;
  outline: none;

  display: inline-block;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;

  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  @include font-settings("Inter", 400, 16px, $text-over-primary);
  background: transparent;
  padding: 0px;
}

.chat {
  width: 100%;
  min-width: $chat-min-width;
  flex: 1;
  min-height: 0;
  
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background: $background-shadow-50;
  width: 100%;
  height: $chat-header-height;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-sizing: border-box;
  padding: 10px;

  cursor: pointer;

  display: flex;
  align-items: center;

  .avatar-container{
    margin-left: 20px;
    margin-right: 8px;

    cursor: pointer;

    display: flex;

    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 100%;
  
      margin: 0px;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2px;

  &__chat-name {
    @include font-settings("Inter", 500, 20px, $text-over-primary);
  }
  &__chat-status {
    @include font-settings("Inter", 400, 16px, $text-over-primary-shadow-50);
  }
}

.messages {
  width: 100%;
  max-width: $messages-container-max-width;
  flex: 1;

  display: flex;
  flex-direction: column-reverse;
  gap: 5px;

  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.messages:hover {
  overflow-y: visible;
}

.input {
  width: 100%;
  max-width: $messages-container-max-width;

  margin-top: 10px;
  margin-bottom: 15px;
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.input-bubble {
  background: $primary-shadow-25;
  border-radius: 25px;

  flex: 1;

  box-sizing: border-box;
  padding: 15px;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 15px;
}

.attach-btn {
  height: 24px;
  width: 24px;
}

.text-area {
  flex: 1;
  height: 19px;
  max-height: calc(10 * 19px);
  line-height: 19px;
}

.emoji-btn {
  height: 24px;
  width: 24px;
}

.input-send-btn {
  width: 54px;
  height: 54px;
  background: $accent;

  border-radius: 100%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  &__img {
    width: 22px;
    height: 22px;
  }
}
