
<div id="header-chat" class="header">
  <img
      id="chat-back-button"
      class="chat-back-button-img"
      src="/assets/image/back-btn-img.svg"
      alt=""
    />
  <img id="chat-avatar" class="avatar" src="{{avatar}}" />
  <div id="chat-info" class="info">
    <span id="chat-name" class="info__chat-name">
      {{chat.chatName}}
    </span>
    <span class="info__chat-status">
      {{chat.chatType}}
    </span>
    
  </div>
  <div id="search-image-container" class="search-messages">
    <img id="search-messages" class="search-messages__img" src="/assets/image/search-icon.svg" alt="">
  </div>

  <div id="message-search-input" class="input-search hidden" >
    <div class="search-results">
      <input id="input-search" class="input-search__input" type="text" name="text" placeholder="Поиск">
      <div id="search-results-messages" class="search-results-messages">
        
      </div>
    </div>

    <img id="cancel-search" class="search-cancel__img" src="/assets/image/cancel.svg" alt="">  
    
  </div>
  
  
</div>
<div class="chat">
  <div class="messages" id="chat__messages">
    <span class="chat-messages-placeholder" id="msg-placeholder">Напишите первое сообщение</span>
  </div>
  {{#if chatType.group}}
  <div class="input">
    <div class="input-bubble">
      <div class="input-files-wrapper" id="filesWrapper" style="display: none;">
        <div class="input-files" id="filesContainer">
  
        </div>
        <img class="input-files__prev-page" id="inputPrevBtn" src="/assets/image/next-20px.svg" style="display: none;"/>
        <img class="input-files__next-page" id="inputNextBtn" src="/assets/image/next-20px.svg" style="display: none;"/>
      </div>
      <div class="input-base">
        <img class="attach-icon" id="attachBtn" src="/assets/image/Attach.svg" />
        <textarea
          class="text-area"
          placeholder="Введите сообщение"
          maxlength="1000"
        ></textarea>
        <img class="emoji-icon" src="/assets/image/Emoji.svg" />
        
        <div class="attach__popup" id="attachPopUp" style="display: none;">
          <label for="attach-photo">
            <input
              type="file"
              id="attach-photo"
              name="attach-photo"
              style="display: none;"
              accept="image/webp, image/gif, image/jpeg, image/webp, image/png"
            />
            <span 
              class="attach__popup__item" 
              id="attachPhoto"
            >
              <img
                class="attach-item__icon"
                src="/assets/image/user.svg"
              />
              Фото
            </span>
          </label>
          <label for="attach-file">
            <input
              type="file"
              id="attach-file"
              name="attach-file"
              style="display: none;"
            />
            <span 
              class="attach__popup__item" 
              id="attachFile"
            >
              <img class="attach-item__icon" src="/assets/image/users.svg" />
              Файл
            </span>
          </label>
        </div>
      </div>
    </div>
    <img class="input-send-btn" id="chat__input-send-btn" src="/assets/image/Send.svg" />
  </div>
  {{/if}}
  {{#if chatType.personal}}
  <div class="input">
    <div class="input-bubble">
      <div class="input-files-wrapper" id="filesWrapper" style="display: none;">
        <div class="input-files" id="filesContainer">
  
        </div>
        <img class="input-files__prev-page" id="inputPrevBtn" src="/assets/image/next-20px.svg" style="display: none;"/>
        <img class="input-files__next-page" id="inputNextBtn" src="/assets/image/next-20px.svg" style="display: none;"/>
      </div>
      <div class="input-base">
        <img class="attach-icon" id="attachBtn" src="/assets/image/Attach.svg" />
        <textarea
          class="text-area"
          placeholder="Введите сообщение"
          maxlength="1000"
        ></textarea>
        <img class="emoji-icon" src="/assets/image/Emoji.svg" />
        
        <div class="attach__popup" id="attachPopUp" style="display: none;">
          <label for="attach-photo">
            <input
              type="file"
              id="attach-photo"
              name="attach-photo"
              style="display: none;"
              accept="image/webp, image/gif, image/jpeg, image/webp, image/png"
            />
            <span 
              class="attach__popup__item" 
              id="attachPhoto"
            >
              <img
                class="attach-item__icon"
                src="/assets/image/user.svg"
              />
              Фото
            </span>
          </label>
          <label for="attach-file">
            <input
              type="file"
              id="attach-file"
              name="attach-file"
              style="display: none;"
            />
            <span 
              class="attach__popup__item" 
              id="attachFile"
            >
              <img class="attach-item__icon" src="/assets/image/users.svg" />
              Файл
            </span>
          </label>
        </div>
      </div>
    </div>
    <img class="input-send-btn" id="chat__input-send-btn" src="/assets/image/Send.svg" />
  </div>
  {{/if}}
  {{#if chatType.channel}}
    {{#if userType.owner}}
      <div class="input">
        <div class="input-bubble">
          <div class="input-files-wrapper" id="filesWrapper" style="display: none;">
            <div class="input-files" id="filesContainer">
      
            </div>
            <img class="input-files__prev-page" id="inputPrevBtn" src="/assets/image/next-20px.svg" style="display: none;"/>
            <img class="input-files__next-page" id="inputNextBtn" src="/assets/image/next-20px.svg" style="display: none;"/>
          </div>
          <div class="input-base">
            <img class="attach-icon" id="attachBtn" src="/assets/image/Attach.svg" />
            <textarea
              class="text-area"
              placeholder="Введите сообщение"
              maxlength="1000"
            ></textarea>
            <img class="emoji-icon" src="/assets/image/Emoji.svg" />
            
            <div class="attach__popup" id="attachPopUp" style="display: none;">
              <label for="attach-photo">
                <input
                  type="file"
                  id="attach-photo"
                  name="attach-photo"
                  style="display: none;"
                  accept="image/webp, image/gif, image/jpeg, image/webp, image/png"
                />
                <span 
                  class="attach__popup__item" 
                  id="attachPhoto"
                >
                  <img
                    class="attach-item__icon"
                    src="/assets/image/user.svg"
                  />
                  Фото
                </span>
              </label>
              <label for="attach-file">
                <input
                  type="file"
                  id="attach-file"
                  name="attach-file"
                  style="display: none;"
                />
                <span 
                  class="attach__popup__item" 
                  id="attachFile"
                >
                  <img class="attach-item__icon" src="/assets/image/users.svg" />
                  Файл
                </span>
              </label>
            </div>
          </div>
        </div>
        <img class="input-send-btn" id="chat__input-send-btn" src="/assets/image/Send.svg" />
      </div>
    {{/if}}
    {{#if userType.admin}}
      <div class="input">
        <div class="input-bubble">
          <div class="input-files-wrapper" id="filesWrapper" style="display: none;">
            <div class="input-files" id="filesContainer">
      
            </div>
            <img class="input-files__prev-page" id="inputPrevBtn" src="/assets/image/next-20px.svg" style="display: none;"/>
            <img class="input-files__next-page" id="inputNextBtn" src="/assets/image/next-20px.svg" style="display: none;"/>
          </div>
          <div class="input-base">
            <img class="attach-icon" id="attachBtn" src="/assets/image/Attach.svg" />
            <textarea
              class="text-area"
              placeholder="Введите сообщение"
              maxlength="1000"
            ></textarea>
            <img class="emoji-icon" src="/assets/image/Emoji.svg" />
            
            <div class="attach__popup" id="attachPopUp" style="display: none;">
              <label for="attach-photo">
                <input
                  type="file"
                  id="attach-photo"
                  name="attach-photo"
                  style="display: none;"
                  accept="image/webp, image/gif, image/jpeg, image/webp, image/png"
                />
                <span 
                  class="attach__popup__item" 
                  id="attachPhoto"
                >
                  <img
                    class="attach-item__icon"
                    src="/assets/image/user.svg"
                  />
                  Фото
                </span>
              </label>
              <label for="attach-file">
                <input
                  type="file"
                  id="attach-file"
                  name="attach-file"
                  style="display: none;"
                />
                <span 
                  class="attach__popup__item" 
                  id="attachFile"
                >
                  <img class="attach-item__icon" src="/assets/image/users.svg" />
                  Файл
                </span>
              </label>
            </div>
          </div>
        </div>
        <img class="input-send-btn" id="chat__input-send-btn" src="/assets/image/Send.svg" />
      </div>
    {{/if}}
    {{#if userType.not_in_chat}}
      <button id="subscribe-channel" class="subscribe-channel__button hidden">Подписаться</button>
    {{/if}}
  {{/if}}
</div>