<div class="news-block-header">
  <img
    class="news-block-header__img"
    src="/assets/image/news-header.png"
    alt=""
  />
  <span class="news-block-header__span">Что нового?</span>
</div>
<div class="news-list">
  <div class="update-content">
    <span class="update-content__span-header update-content__span">
      <span style="color: #AFCBEE;">ОБНОВЛЕНИЕ</span>
      ср, 6 ноября 2024 г.
    </span>
    <span class="update-content__span-post-header update-content__span">
      Добавлены контакты, теперь вы можете добавить друзей
    </span>
    <span class="update-content__span-main-info update-content__span">
      Наконец-то появились чаты и не только для личного общения, но и групповые,
      вы можете звать несколько приятелей или коллег, да впрочем кого угодно.
    </span>
    <img
      class="update-content__img"
      src="/assets/image/update-news-img.png"
      alt=""
    />
  </div>
  <div class="patefon-news">
    <span class="patefon-news__span-header update-content__span">
      <span style="color: #AFCBEE;">ОБНОВЛЕНИЕ</span>
      ср, 6 ноября 2024 г.
    </span>
    <span class="patefon-news__span-post-header update-content__span">
      Скоро появится много нового интерфейса
    </span>
    <span class="patefon-news__span-main-info update-content__span">
      Ожидайте стикеры, скоро будут на ваших экранах - в декабре 2024 года! Ждите
      релиза.
    </span>
    <img
      class="patefon-news__img"
      style="width: 341px; height: 316px"
      src="/assets/image/emoji.png"
      alt=""
    />
  </div>
</div>