<div class="news-block-header">
  <img
    class="news-block-header__img"
    src="/assets/image/news-header.png"
    alt=""
  />
  <span class="news-block-header__span">Что нового?</span>
</div>
<div class="news-list">
  <div class="update-content">
    <span class="update-content__span-header update-content__span">
      <span style="color: #AFCBEE;">ОБНОВЛЕНИЕ</span>
      пн, 16 декабря 2024 г.
    </span>
    <span class="update-content__span-post-header update-content__span">
      Добавлены ветки, теперь вы можете создавать обсуждения внутри групповых чатов и каналов
    </span>
    <span class="update-content__span-main-info update-content__span">
      Теперь в меню для сообщения можно перейти в ветки.
    </span>
    <img
      class="update-content__img"
      src="/assets/image/news-message-menu.jpg"
      alt=""
      style="width: 350px; height: 300px; display: block;"
    />
    <img
      class="update-content__img"
      src="/assets/image/news-branch.png"
      alt=""
    />
  </div>
  <div class="patefon-news">
    <span class="patefon-news__span-header update-content__span">
      <span style="color: #AFCBEE;">ОБНОВЛЕНИЕ</span>
      пн, 16 декабря 2024 г.
    </span>
    <span class="patefon-news__span-post-header update-content__span">
      Наконец-то появились вложения и эмодзи, теперь общение будет еще веселее!
    </span>
    <span class="patefon-news__span-main-info update-content__span">
      Наконец-то появились стикеры, пока их мало, но скоро будет пополнение.
    </span>
    <img
      class="patefon-news__img"
      style="width: 341px; height: 316px"
      src="/assets/image/emoji.png"
      alt=""
    />
  </div>
</div>