<div id="" class="add-user-to-chat">
  <div class="user-add-modal">
    <div class="user-add-modal-header">
      <img
        id="cancel-btn"
        class="user-add-modal-header__img"
        src="/assets/image/cancel.svg"
        alt=""
      />
      <span class="user-add-modal-header__span">Добавьте друга</span>
    </div>
    <div id="chat-contact-list" class="chat-contact-list">

    </div>
  </div>
</div>