@import "@/shared/styles/styles.scss";

$primary-shadow-25: var(--primary-shadow-25);
$secondary: var(--secondary);
$text-over-primary: var(--text-over-primary);
$button-over-background-hover: var(--button-over-background-hover);

.chat-searched-message {
  border-radius: 15px;
  padding-right: 10px;

  cursor: pointer;
  text-decoration: none;

  display: flex;

  &__img {
    @include message-avatar();
  }

  &__info {
    flex: 1;
    min-width: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    .info {
      &__upper-row {
        display: flex;
      
        .upper-row {
          
          &__chat-name {
            font-family: "Inter";
            line-height: 21px;
            font-weight: 500;
            font-size: 16px;
            color: $text-over-primary;
            flex: 1;

            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          &__date-time {
            margin-left: 2px;
            
            font-family: "Inter";
            line-height: 16px;
            font-weight: 300;
            font-size: 12px;
            color: $text-over-primary;
            filter: brightness(80%);

            align-self: flex-start;
          }
        }
      }

      &__lower-row {
        
        .lower-row__message{
            @include message-text();
        }
      }
    }
  }

  &:hover {
    background-color: $button-over-background-hover;
  }
}


