<div class="root">
  <div class="news-content">
    <div class="news-content-header">
      <img class="news-content-header__img" src="/assets/image/news-header.png" alt="">
      <span class="news-content-header__span">Что нового?</span>
    </div>
    <div class="update-content">
      <span class="update-content__span-header update-content__span">
        <span style="color: #AFCBEE;">ОБНОВЛЕНИЕ</span> ср, 6 ноября 2024 г.
      </span>
      <span class="update-content__span-post-header update-content__span">
        Добавлены анимированные стикеры
      </span>
      <span class="update-content__span-main-info update-content__span">
        Анимированные стикеры появились на всех платформах! Используйте их в общении так же, 
        как и обычные стикеры, но с приятной анимацией.
      </span>      
      <img class="update-content__img" src="/assets/image/update-news-img.png" alt="">
    </div>
    <div class="patefon-news">
      <span class="patefon-news__span-header update-content__span">
        <span style="color: #AFCBEE;">ОБНОВЛЕНИЕ</span> ср, 6 ноября 2024 г.
      </span>
      <span class="patefon-news__span-post-header update-content__span">
        Скоро появится интерфейс основной страницы
      </span>
      <span class="patefon-news__span-main-info update-content__span">
        Обновленный дизайн с кастомизацией цветовой палитры скоро на ваших экранах - в декабре 2024 года! Ждите релиза обновления интерфейса.
      </span>
      <img class="patefon-news__img" src="/assets/image/news-img.png" alt=""> 
    </div>
  </div>
  <div id="right" class="auth-form">
    <form class="auth-form-user">
      <p class="auth-form-user__p">Зарегистрируйтесь в Patefon</p>
      <div class="auth-form-error">
        <span class="auth-form-error__span" id="errorNickname"></span>
      </div>
      <input
        id="nickname"
        class="auth-form-user__input auth-form-input nickname not_error"
        type="text"
        placeholder="Имя пользователя"
        name="text"
      />
      <div class="auth-form-error">
        <span class="auth-form-error__span" id="errorLogin"></span>
      </div>
      <input
        id="login"
        class="auth-form-user__input auth-form-input not_error"
        type="text"
        placeholder="Логин"
        name="text"
      />
      <div class="auth-form-error">
        <span class="auth-form-error__span" id="errorPassword"></span>
      </div>
      <div class="auth-form-user-password" style="position: relative;">
        <input
          id="password"
          class="auth-form-user__input auth-form-input not_error"
          type="password"
          placeholder="Пароль"
          name="password"
        />
        <img
          id="password-visibility-toggle"
          class="auth-form-user-password__img-pass_show signup-password-eye"
          src="/assets/image/eye.svg"
        />
      </div>
      <div class="auth-form-error">
        <span class="auth-form-error__span" id="errorPassword2"></span>
      </div>
      <div class="auth-form-user-password" style="position: relative;">
        <input
          id="password2"
          class="auth-form-user__input auth-form-input not_error"
          type="password"
          placeholder="Повторите пароль"
          name="password"
        />
        <img
          id="password-visibility-toggle2"
          class="auth-form-user-password__img-pass_show password-visibility-toggle signup-password-eye"
          src="/assets/image/eye.svg"
        />
      </div>
      <a
        class="auth-form-user__a-login-redirect"
        id="login_href"
        href="/login"
      >Уже есть аккаунт? Войти</a>
      <button type="submit" class="auth-form-user__button-create btn">Создать
        аккаунт</button>
    </form>
  </div>
</div>