.auth-form__form__a {
  color: var(--a-element);
  font-size: var(--base-font-size);
  font-family: var(--main-font-family);
  text-decoration: underline;
  margin-left: 30px;
}

.auth-form__form__button-create {
  margin-top: 20px;
  background-color: var(--form-button-access);
  color: var(--primary);
}

.auth-form-input {
  margin-left: 20px;
}

.auth-form__form__error {
  min-height: 32px;
  max-width: var(--input-width);
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.signup-btn {
  margin-left: 25px;
}

.auth-form__form__p-signup {
  text-align: center;
  font-size: 30px;
  color: var(--text-over-primary);
  font-family: var(--main-font-family);
  margin-top: 100px;
  margin-bottom: 50px;
}
