.signup-page {
  height: 100vh;
  display: flex;
  overflow-y: hidden;
}

.auth-form-input {
  padding-left: 10px;
  margin-bottom: 10px;
  width: var(--input-width);
  height: var(--input-height);
  border-radius: 15px 15px 15px 15px;
  font-size: var(--form-font-size);
  font-family: var(--main-font-family);
  color: var(--text-over-primary);
  background-color: var(--primary);
}

.auth-form-user {
  justify-content: center;
  &__a-login-redirect {
    color: var(--a-element);
    font-size: var(--base-font-size);
    font-family: var(--main-font-family);
    text-decoration: underline;
    margin-left: 30px;
  }

  &__button-create {
    margin-top: 30px;
    background-color: var(--form-button-access);
    color: var(--primary);
    margin-left: 28px;
  }

  &__p {
    text-align: center;
    font-size: 30px;
    color: var(--text-over-primary);
    font-family: var(--main-font-family);
    margin-top: 75px;
    margin-bottom: 50px;
  }
}

.signup-password-eye {
  margin-right: 20px;
}

.auth-form-input {
  margin-left: 20px;
}

.auth-form-error {
  min-height: 34px;
  max-width: var(--input-width);
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__span {
    font-size: var(--error-font-size);
    font-family: var(--main-font-family);
    color: var(--text-error-message);
    min-height: 16px;
    height: fit-content;
    display: inline-block;
    align-self: flex-start;
  }
}
