<div class="chat-info-column">
  <div class="chat-info">
    <div class="chat-info-header">
      <img
        id="chat-info-close-button"
        class="chat-info-close-button-img"
        src="/assets/image/cancel.svg"
        alt=""
      />
      <img class="chat-info-header__img" src="{{profileUser.avatarURL}}" alt="" />
      <span class="chat-info-header__span-user-name">{{profileUser.name}}</span>
      <span class="chat-info-header__span-online-status">online</span>
    </div>
    <div class="chat-user-info">
      <div class="chat-user-birthday">
        <span class="chat-user-birthday__span-description span-description">Дата
          рождения</span>
        <span class="chat-user-birthday__span">{{birthdate}}</span>
      </div>
      <div class="chat-user-bio">
        <span
          class="chat-user-bio__span-description span-description"
        >Описание</span>
        <span class="chat-user-bio__span">{{profileUser.bio}}</span>
      </div>
      <div class="notifications">
        <span class="notifications__span">Уведомления</span>
        <label class="Toggle" for="toggle">
        <input type="checkbox" name="toggle" id="toggle" class="Toggle__input hidden" />

        <span id="notification-toggle" class="Toggle__display">
          
        </span>
      </label>
      </div>
    </div>
  </div>
  <button id="delete-chat" class="delete-chat-btn__button">
    Удалить чат
  </button>
</div>