<div class="chat-info">
    <div class="chat-info-header">
        <img class="chat-info-header__img" src="{{response.avatarURL}}" alt="">
        <span class="chat-info-header__span-user-name">{{response.name}}</span>
        <span class="chat-info-header__span-online-status">online</span>
    </div>
    <div class="chat-user-info">
        <div class="chat-user-birthday">
            <span class="chat-user-birthday__span-description span-description">Дата рождения</span>
            <span class="chat-user-birthday__span">{{response.birthdate}}</span>
        </div>
        <div class="chat-user-bio">
            <span class="chat-user-bio__span-description span-description">Описание</span>
            <span class="chat-user-bio__span">{{response.bio}}</span>
        </div>
    </div>
</div>
<div class="delete-chat">
    <div class="delete-chat-btn">
        <button id="delete-chat" class="delete-chat-btn__button">
            Удалить чат
        </button>
    </div>
</div>