<div class="modal">
    <div id="message-menu" class="message-menu" style="margin-left: {{x}}px; margin-top: {{y}}px;">
        <div class="message-menu-edit">
            <span id="edit-message" class="message-menu-edit__span">Изменить</span>
        </div>
        <div class="message-menu-delete">
            <span id="delete-message" style="color: tomato;" class="message-menu-delete__span">Удалить</span>
        </div>
    </div>
</div>