@import "@/shared/styles/styles.scss";
$button-over-background-hover: var(--button-over-background-hover);
$background: var(--background);

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8000;
    opacity: 1;
}

.message-menu {
    background: $background;
    border-radius: 10px;
    width: 140px;
    display: flex;
    flex-direction: column;
    
    padding: 10px;
}

.message-menu-edit {
    cursor: pointer;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;

    &__span {
        padding: 2px 0px;
        display: flex;
        justify-content: end;
        width: 100%;
        @include text();
        transition-duration: 0.4s;
    }
    &:hover {
        background-color: $button-over-background-hover;
    }

    &__img {
        width: 18px;
        height: 18px;
        align-items: center;
        padding: 0px 5px;
    }
}

.message-menu-delete {
    cursor: pointer;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;

    &__span {
        padding: 2px 0px;
        display: flex;
        justify-content: end;
        width: 100%;
        @include text();
        transition-duration: 0.4s;
    }
    &:hover {
        background-color: $button-over-background-hover;
    }

    &__img {
        width: 18px;
        height: 18px;
        align-items: center;
        padding: 0px 5px;
    }
}

.message-menu-branch {
    cursor: pointer;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;

    &__span {
        padding: 2px 0px;
        display: flex;
        justify-content: end;
        width: 100%;
        @include text();
        transition-duration: 0.4s;
    }
    &:hover {
        background-color: $button-over-background-hover;
    }

    &__img {
        width: 18px;
        height: 18px;
        align-items: center;
        padding: 0px 5px;
    }
}