@import "@/shared/styles/styles.scss";

.message-menu {
    background: #4f82bf;
    border-radius: 10px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 5px;
}

.message-menu-edit {
    cursor: pointer;
    width: 100%;
    align-items: end;
    &__span {
        width: 100%;
        @include text();
        transition-duration: 0.4s;
    }
    &:hover {
        background-color: gray;
    }
}

.message-menu-delete {
    cursor: pointer;
    width: 100%;
    justify-content: end;
    &__span {
        width: 100px;
        @include text();
        transition-duration: 0.4s;
    }
    &:hover {
        background-color: gray;
    }
}