<div class="message-menu">
    <div class="message-menu-edit">
        <span class="message-menu-edit__span">Изменить</span>
    </div>
    <div class="message-menu-delete">
        <span style="color: tomato;" class="message-menu-delete__span">Удалить</span>
    </div>
</div>